.icon {
    opacity: 1;
    display: block;
    mask-size: contain;
    -webkit-app-region: no-drag;
    -webkit-mask-size: contain;
    mask-position: center;
    -webkit-mask-position: center;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    background: var(--color-foreground);
    image-rendering: crisp-edges;
    transition: background 0.1s ease-out;
    width: 42px;
    height: 42px;

    &.click:hover:not(.disabled):not(.active) {
        background: var(--color-accent);
    }

    &.click {
        cursor: pointer;
    }

    &.disabled {
        background: var(--color-blurred);
    }

    &.active {
        background: var(--color-accent);
    }

    &.active:hover {
        background: var(--color-foreground);
    }
}