.feed {
    user-select: none;
    flex: 1;


    .header {
        display: flex;
        flex: 1;
        align-content: space-between;
        align-items: center;
        margin-bottom: 1em;

        .icon {
            $size: 2.2em;
            width: $size;
            height: $size;
            background: white no-repeat center center;
            background-size: contain;
            min-height: $size;
            min-width: $size;
            border-radius: 0.5em;
            border: 0.2em solid var(--color-light);
            margin-right: 0.8em;
        }

        .name {
            color: var(--color-foreground);
            width: 100%;
            height: 100%;
            max-width: 8em;
            text-overflow: ellipsis;
            text-align: left;
            overflow: hidden;
            white-space: nowrap;
        }

        .remove {
            cursor: pointer;
            $size: 1em;
            width: $size;
            min-width: $size;
            max-width: $size;
            min-height: $size;
            max-height: $size;
            margin-left: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            justify-self: flex-end;
            background: var(--color-accent);
            opacity: 0.5;
            transition: opacity 0.2s ease-out;
            border-radius: 1000px;

            &:hover {
                opacity: 1;
            }

            &>* {
                $size: 0.8em;
                max-width: $size;
                max-height: $size;
                height: $size;
                width: $size;
                background: var(--color-background-light);
            }
        }
    }
}