node_modules
dist
module_dist
.tmp
.sass-cache
bower_components
logs
OpenFinRVM.exe
OpenFin
/MarketDataPlugin/service/DataProvider/.vs
npm-debug.log
build
.vscode/**
coverage/**
Thumbs.db
/.vs
/built
