.button {
    display: inline-block;
    padding: 12px 8px;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    cursor: pointer;
    border-right: 1px var(--card-border-color) solid;
    transition: background-color 0.1s ease-in-out;
    line-height: 16px;
    align-content: center;
    justify-content: center;
    flex: 1;
    flex-grow: 1;
    width: 100%;
    min-width: 40px;

    &:hover {
        transition: background-color 0.2s ease-in-out;
        background-color: var(--card-border-color);
        box-shadow: none;
        transition: box-shadow 0.1s ease-out;

        &:active {
            box-shadow: inset rgba(0, 0, 0, 0.516) 0px 0px 10px;
        }
    }

    &:last-of-type {
        border-right: none;
    }

    .value {
        display: flex;
        align-content: center;
        justify-content: center;

        &>* {
            vertical-align: middle;
        }

        span {
            height: 100%;
            font-size: 14px;
            font-weight: 600;
        }

        img {
            width: 16px;
            height: 16px;
            min-width: 16px;
            margin-right: 6px;
        }
    }
}