:root {
    --body-background-color:#1C1C31;
    --header-background-color: #080719;
    --footer-background-color:#080719;
    --notification-background-color:#242340;
    --text-color: #E5E5E7;
    --app-icon-background-color:#1E1E1E;
}

body {
    background-color:var(--body-background-color);
}

.footer {
    background-color: var(--footer-background-color);
}

#footerContainer {
    color: var(--text-color);
  }

#notification-inbox-list > li {
    background-color:var(--notification-background-color);
    color:var(--text-color);
}

.notification-day-x:hover {
  background-color: var(--notification-background-color);
}


.square {
    background-color:var(--app-icon-background-color);
}

.square:hover{
    background-color:var(--notification-background-color);
}

.navbar {
    background-color:var(--header-background-color);
}
