* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    -webkit-app-region: no-drag;
    cursor: pointer;
}

body {
    background: #eee;
    user-select: none;
}

.context-menu {
    padding: 5px 0;
}

.item {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 0.8em;
    padding: 3px;
    text-align: left;
    color: black;
    cursor: pointer;
}

.item span {
    margin-left: 10px;
    cursor: pointer;
}

.item:hover {
    background: #5f5ffc;
    color: white;
    cursor: pointer;
}