body {
    padding: 0 !important;
    margin: 0;
    overflow: hidden !important;
    width: 100vw;
    height: 100vh;
}

.notification {
    margin: 0 !important;
}

#toast-container {
    margin: 0;
    background: magenta;
    display: inline-block;
    user-select: none;
    cursor: pointer;
}

.close {
    cursor: pointer;
}